[attr]nif text eol=lf whitespace=blank-at-eol,-blank-at-eof,tab-in-indent,tabwidth=2
[attr]erlang text eol=lf whitespace=blank-at-eol,-blank-at-eof,tab-in-indent,tabwidth=2
[attr]elixir text eol=lf whitespace=blank-at-eol,-blank-at-eof,tab-in-indent,tabwidth=2
[attr]make text eol=lf whitespace=blank-at-eol,-blank-at-eof,space-before-tab,-tab-in-indent,tabwidth=2

# Auto-detect text files. Make sure they use LF.
* text=auto eol=lf

*.h nif
*.hpp nif
*.hxx nif
*.cc nif
*.cpp nif
*.cxx nif

*.ex elixir
*.exs elixir
*.erl erlang

makefile make
Makefile make
